<ion-header>
    <div class="col-sm-9">
      <nav id="site-navigation" class="main-navigation" role="navigation">
        <button class="menu-toggle" type="button" aria-controls="primary-menu" aria-expanded="false"><span class="pe-7s-menu"></span><span class="sr-only">Primary Menu</span></button>

        <div class="menu-testing-menu-container" >
          <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
            <li (click)="gotohome()" class="menu-item current-menu-item">
              <a style="color: black; cursor: pointer;">
                <ion-icon slot="start" src="assets/icon/home-run.svg"></ion-icon>Home</a>
            </li>
            <li class="menu-item menu-item-has-children" aria-haspopup="true"><a style="color: black;" href="#">Projects</a>
              <ul class="sub-menu">
                <li class="menu-item current-menu-item"><a  href="service.html">Projects</a></li>
                <li class="menu-item"><a style="cursor: pointer;" (click)="gotoproj()">View Projects</a></li>
                <li class="menu-item"><a  href="service-item.html">Add Projects</a></li>
                <li class="menu-item"><a  href="service-item.html">Projects Type</a></li>
              </ul>
            </li>
            <li class="menu-item"><a style="color: black;" href="about.html">Building</a></li>
            <li class="menu-item menu-item-has-children" aria-haspopup="true"><a style="color: black;" href="#">Data</a>
              <ul class="sub-menu">
                <li class="menu-item menu-item-has-children" aria-haspopup="true"><a (click)="gotoArea()">Areas</a>
                  <ul class="sub-menu">
                    <li class="menu-item"><a href="social.html">Add new area</a></li>
                  </ul>
                </li>
                <li class="menu-item"><a style="cursor: pointer;" (click)="gotoitem()">BOQ items</a></li>
                <li class="menu-item"><a style="cursor: pointer;" (click)="gotocons()">Contractors</a></li>
                <li class="menu-item"><a style="cursor: pointer;" (click)="gotosupplier()">Suppliers</a></li>
                <li class="menu-item"><a style="cursor: pointer;" (click)="gotomaterial()">Materials</a></li>
              </ul>
            </li>
            <li class="menu-item"><a style="color: black; cursor: pointer;" (click)="gotoReport()">Reports</a></li>
            <li class="menu-item"><a style="color: black;" href="blog.html">Help</a></li>
            <li class="menu-item"><a style="color: black;" href="contact.html">Contact us</a></li>
          </ul>
        </div>
      </nav><!-- #site-navigation -->
    </div><!-- .col-sm-9 -->
    <span style="float: right;margin-top: 8px;">
      <span title="Show/Hide Rata&Total">
        <ion-icon style="cursor: pointer;" (click)="SH()" size="large" slot="start" [name]="eye"></ion-icon>
      </span> 
      <span title="Export to PDF">
        <ion-icon style="cursor: pointer;" (click)="exporttoPDF()" size="large" slot="start" src="assets/icon/pdf.svg"></ion-icon>
      </span> 
      <span title="Export to Excel">
        <ion-icon style="margin-right: 15px;cursor: pointer;" (click)="exporttoExcel()" size="large" slot="start" src="assets/icon/excel.svg"></ion-icon>
      </span>

      <!-- <span title="Send an Email">
        <ion-icon style="margin-right: 15px;cursor: pointer;" (click)="sendEmail($event)" size="large" slot="start" name="mail"></ion-icon>
      </span> -->
      
          
  </span>

</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
            <!-- MY BUILDING SELECTION -->
            <ion-item class="leftsideitems">      
              <ion-label>Buildings</ion-label>
              <ion-select multiple="true" class="select-test" (ionChange)="getFloors()" [(ngModel)]="BuildingID"  placeholder="Select Building" >
                <ion-select-option *ngFor="let item of BuildingList" [value]="item.id" > {{ item.name }} </ion-select-option>
              </ion-select>
              <ion-button title="Select all"  (click)="SelectallAbuildings()" style="--padding-start : 0px" class="addbtn" fill="clear" >
               <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
             </ion-button>
             <ion-button title="Unselect all" (click)="RemoveallAbuildings()" style="--padding-start : 0px" class="addbtn" fill="clear" >
              <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
            </ion-button>
            </ion-item>
            <ion-item  class="leftsideitems">
              <ion-label>Area Category</ion-label>
              <ion-select multiple="true" (ionChange)="getsubcats()" [(ngModel)]="CatID"  interface="popover" placeholder="Select Category">
                <ion-select-option *ngFor="let citem of CatList" [value]="citem.id" > {{ citem.name }}</ion-select-option>
              </ion-select>
              <ion-button title="Select all" (click)="SelectallACat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
                <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
              </ion-button>
              <ion-button title="Unselect all" (click)="RemoveallACat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
                <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
              </ion-button>
            </ion-item>
            <ion-item  class="leftsideitems">
              <ion-label>Area Subcategory</ion-label>
              <ion-select multiple="true" (ionChange)="getsubsubcats()"  [(ngModel)]="SubcatID"  placeholder="Select Subcategory">
                <ion-select-option *ngFor="let sitem of SubcatList" [value]="sitem.id"  > {{ sitem.name }}</ion-select-option>
              </ion-select>
              <ion-button title="Select all" (click)="SelectallASubcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
                <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
              </ion-button>
              <ion-button title="Unselect all" (click)="RemoveallASubcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
                <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
              </ion-button>
            </ion-item>
            <ion-item class="leftsideitems">
              <ion-label>Area Sub-subcategory</ion-label>
              <ion-select multiple="true" (ionChange)="getareas()"  [(ngModel)]="SubsubcatID" placeholder="Select Sub-subcategory">
                <ion-select-option *ngFor="let ssitem of SubsubcatList" [value]="ssitem.id"  > {{ ssitem.name }}</ion-select-option>
              </ion-select>
              <ion-button title="Select all" (click)="SelectallASubsubcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
                <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
              </ion-button>
              <ion-button title="Unselect all" (click)="RemoveallASubsubcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
                <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
              </ion-button>
            </ion-item>
            <ion-item class="leftsideitems">
              <ion-label>Areas</ion-label>
              <ion-select multiple="true" [(ngModel)]="AreaID" placeholder="Select Area">
                <ion-select-option *ngFor="let aitem of AreaList" [value]="aitem.id"> {{ aitem.name }}</ion-select-option>
              </ion-select>
              <ion-button title="Select all" (click)="SelectallAreas()" style="--padding-start : 0px" class="addbtn" fill="clear" >
                <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
              </ion-button>
              <ion-button title="Unselect all" (click)="RemoveallAreas()" style="--padding-start : 0px" class="addbtn" fill="clear" >
                <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
              </ion-button>
            </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item  class="leftsideitems">
          <ion-label>Floors</ion-label>
          <ion-select multiple="true" (ionChange)="getcats()" [(ngModel)]="FloorID" placeholder="Select Floor">
            <ion-select-option *ngFor="let fitem of FloorList" [value]="fitem.id" > {{ fitem.name }} </ion-select-option>
          </ion-select>
          <ion-button title="Select all" (click)="SelectallAfloors()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
          </ion-button>
          <ion-button title="Unselect all" (click)="RemoveallAfloors()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
          </ion-button>
        </ion-item>
        <ion-item  class="leftsideitems">
          <ion-label>Item Category</ion-label>
          <ion-select multiple="true" (ionChange)="getitemsubcat()" [(ngModel)]="IcatID"   placeholder="Select Category">
            <ion-select-option *ngFor="let icitem of IcatList" [value]="icitem.id" > {{ icitem.name }}</ion-select-option>
          </ion-select>
          <ion-button title="Select all" (click)="SelectallIcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
          </ion-button>
          <ion-button title="Unselect all" (click)="RemoveallIcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
          </ion-button>
        </ion-item>
        <ion-item  class="leftsideitems">
          <ion-label>Item Subcategory</ion-label>
          <ion-select multiple="true" (ionChange)="getitemsubsubcat()" [(ngModel)]="IsubcatID"  placeholder="Select Subcategory">
            <ion-select-option *ngFor="let isitem of IsubcatList" [value]="isitem.id"  > {{ isitem.name }}</ion-select-option>
          </ion-select>
          <ion-button title="Select all" (click)="SelectallIsubcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
          </ion-button>
          <ion-button title="Unselect all" (click)="RemoveallIsubcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
          </ion-button>
        </ion-item>
        <ion-item class="leftsideitems">
          <ion-label>Item Sub-subcategory</ion-label>
          <ion-select multiple="true" (ionChange)="getitem()" [(ngModel)]="IsubsubcatID"   placeholder="Select Sub-subcategory">
            <ion-select-option *ngFor="let issitem of IsubsubcatList" [value]="issitem.id"  > {{ issitem.name }}</ion-select-option>
          </ion-select>
          <ion-button title="Select all" (click)="SelectallIsubsubcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
          </ion-button>
          <ion-button title="Unselect all" (click)="RemoveallIsubsubcat()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
          </ion-button>
        </ion-item>
        <ion-item class="leftsideitems">
          <ion-label>Items</ion-label>
          <ion-select multiple="true" [(ngModel)]="ItemID"  placeholder="Select Item">
            <ion-select-option *ngFor="let item of ItemList" [value]="item.id"  > {{ item.name }} </ion-select-option>
          </ion-select>
          <ion-button title="Select all" (click)="SelectallItem()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
          </ion-button>
          <ion-button title="Unselect all" (click)="RemoveallItem()" style="--padding-start : 0px" class="addbtn" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button style="width: 30%; margin-left: auto; margin-right: auto;margin-top: 5px;margin-bottom: 5px;" (click)="Filter()" expand="block" >
      <ion-icon slot="start" src="assets/icon/funnel.svg"></ion-icon>
       <ion-label>Filter</ion-label>
    </ion-button>
  </ion-grid>

<div style="text-align: center;">
  <ion-button class="seg" size="small" (click)="materialModal()">
    <ion-label>
    Materials
    </ion-label>
  </ion-button>
  <ion-button class="seg" size="small" (click)="labourModal()">
    <ion-label>
    Labours
    </ion-label>
  </ion-button>
  <ion-button class="seg" size="small" (click)="equipmentModal()" >
    <ion-label>
    Equipments
    </ion-label>
  </ion-button>
  <ion-button class="seg" size="small">
    <ion-label>
    Subcontractor
    </ion-label>
  </ion-button>
  <ion-button class="seg" size="small" (click)="otherModal()">
    <ion-label>
    Others
    </ion-label>
  </ion-button>
</div>

  <div #keywordsInput id=keywordsInput >
  <div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
        <h3 style="text-align: center;">Bill of Quantity Report</h3>
        <h4 style="text-align: center;">{{ ProjectName }}</h4>
				<div class="table100 ver1 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Description</th>
									<th class="cell100 column2">Quantity</th>
									<th class="cell100 column3">Unit</th>
									<th [style.display]="showhide"  class="cell100 column4">Rate</th>
                  <th [style.display]="showhide"  class="cell100 column5">Total</th>
                  <th  class="cell100 column6">Details</th>
                </tr>
              </thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table id="excel-table" >
							<tbody>
							<tr *ngFor="let item of ItemsList"  class="row100 body">
									<td class="cell100 column1">{{item.name}}</td>
									<td class="cell100 column2">{{item.qty | number:'0.0-3'}}</td>
									<td class="cell100 column3">{{item.unit}}</td>
									<td [style.display]="showhide" class="cell100 column4">{{item.rate | number:'0.0-3'}}</td>
                  <td [style.display]="showhide" class="cell100 column5">{{item.total | number:'0.0-3'}}</td>
                  <td style="display: flex;" class="cell100 column6" >
                    <ion-button (click)="openMyModal(item)"  fill="clear" >
                      <ion-icon slot="start" src="assets/icon/report.svg"></ion-icon>
                    </ion-button>
                    <ion-button (click)="getgraph(item)" fill="clear">
                      <ion-icon slot="start" alt="Graphs" style="cursor: pointer;" size="small" src="assets/icon/graph.svg"></ion-icon>
                    </ion-button>
                  </td>
                </tr>
                <tr style="text-align: right;" >
                  <td [style.display]="showhide"  colspan="1000" style="text-align: right; padding-right:80px;" >
                    Grand total : <span style="color: maroon;"> {{totalPrice | number:'0.0-3'}} </span> 
                  </td>
                </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


</ion-content>
