<ion-header>
  <ion-toolbar>
    <ion-title>Consultants</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()" color="secondary">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input [(ngModel)]="toAdd" type="text" placeholder="Enter here to add" ></ion-input>
    <ion-button (click)="add()" >
      Add
    </ion-button>
  </ion-item>
  <ion-item-divider>
    <ion-label>consultants List</ion-label>
  </ion-item-divider>
  <ion-item *ngFor="let consultant of listOfConsultants | async" >
    <ion-label>
      <h2> {{ consultant.payload.doc.data().name }} </h2>
    </ion-label>
    <ion-button (click)="delete(consultant.payload.doc)" fill="default" >
     <ion-icon slot="end" color="danger" name="trash"></ion-icon>
    </ion-button>
  </ion-item>


</ion-content>
