<ion-header>
  <ion-toolbar>
    <ion-title>Add Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col>
    <ion-label> Contractor </ion-label>
    <ion-select [(ngModel)]="contractor" okText="Okay" cancelText="Dismiss" placeholder="Select Contractor" >
      <ion-select-option *ngFor="let item of items" [value]="item.payload.doc">                  
              <ion-label>  {{ item.payload.doc.data().name }}  </ion-label>
      </ion-select-option>
    </ion-select>
  </ion-col>

  <ion-card *ngIf="contractor" >
    <ion-item>
      <ion-label position="floating" >Name of Catogery</ion-label>
      <ion-input [(ngModel)]="name" >  </ion-input>
    </ion-item>
  </ion-card>


<ion-button *ngIf="contractor" (click)="addcat()" > Add </ion-button>
</ion-content>
