
.title_box { 
    border: #3171e0 2px solid;
    margin-top:10px;
    font-family: 'Times New Roman', Times, serif;
 
}

.title_box #title { 
    position: relative; 
    top : -0.75em;
    margin-left: 1.2em;
    display: inline; 
    background-color: white;
    font-weight: bolder;
    color:#3171e0; 
    font-size:15px;    
}


#map_canvas {
  width: 90%;
  height: 80%;
  border: 1px solid #3171e0;
}
 
 
#address {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#map {
  width: 60px;
  height: 50vh;
}
 
.map-wrapper {
  position: relative;
 
  #map_center {
    position: absolute;
    z-index: 99;
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -41px;
  }
}
agm-map {
  display: block;
  margin-left: auto;
  margin-right:auto;
    height: 200px;
    width: 100%;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  ion-item{
    border: solid 2px #dce9ff;
    --box-shadow: skyblue;
}