ion-select{
    white-space: normal !important;
}
ion-select-option{
    white-space: normal !important;
}
ion-label , ion-input{
font-size: small;
}
ion-item{
    font-size: small;;
}
ion-segment-button{
    ion-label{
        font-size: small;
    }
}

table {
    margin-left: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }