<ion-header>
  <ion-toolbar>
    <ion-title>Boqitem library</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()" color="secondary">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="sendbackitem()" expand="block">
    Select
  </ion-button>

  <ion-searchbar [(ngModel)]="term" placeholder="Filter boqitem" type="text" [debounce]="250" showCancelButton="always"></ion-searchbar>
  <table *ngIf="itemList.length > 0" > 
    <tr>
      <th style="padding-left:5px;">Action</th>
      <th style="width: 14%;">Code</th>
      <th>Name</th>
      <th>Unit</th>
      <th style="width: 10%;">Price</th>
    </tr>

      <tr *ngFor="let item of itemList| filter:term">
        <td style="align-items: center; text-align: center;">
          <ion-radio-group [(ngModel)]="Selecteditem">
          <ion-radio [value]="item"></ion-radio>
        </ion-radio-group>
        </td>
        <td  style="width: 14%;">{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.unit}}</td>
        <td style="width: 10%;">{{item.price | number:'0.0-3'}}</td>
      </tr>

  </table>
</ion-content>
