<ion-header>
  <ion-toolbar>
    <ion-title>Boqitem library</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()" color="secondary">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Library</ion-label>
    <ion-select (ionChange)="getLibrary()" [(ngModel)]="library" placeholder="Select Library">
      <ion-select-option value="generalboqitems">Master Library</ion-select-option>
      <ion-select-option value="generalboqitems1">Library 1</ion-select-option>
      <ion-select-option value="generalboqitems2">Library 2</ion-select-option>
      <ion-select-option value="generalboqitems3">Library 3</ion-select-option>
      <ion-select-option value="generalboqitems4">Library 4</ion-select-option>
      <ion-select-option value="generalboqitems5">Library 5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="sendbackitem()" expand="block">
    Select
  </ion-button>

  <ion-searchbar [(ngModel)]="term" placeholder="Filter boqitem" type="text" [debounce]="250" showCancelButton="always"></ion-searchbar>
  <table *ngIf="itemList.length > 0" > 
    <tr>
      <th style="padding-left:5px;">Action</th>
      <th style="width: 14%;">Code</th>
      <th>Name</th>
      <th>Unit</th>
      <th style="width: 10%;">Price</th>
      <th style="width: 10%;">Material</th>
      <th style="width: 10%;">Labour</th>
      <th style="width: 10%;">Equipment</th>
      <th style="width: 10%;">Subcont</th>
      <th style="width: 10%;">Other</th>
    </tr>

      <tr *ngFor="let item of itemList| filter:term">
        <td style="align-items: center; text-align: center;">
          <ion-radio-group [(ngModel)]="Selecteditem">
          <ion-radio [value]="item"></ion-radio>
        </ion-radio-group>
        </td>
        <td  style="width: 14%;">{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.unit}}</td>
        <td style="width: 10%;">{{item.price | number:'0.0-3'}}</td>
        <td style="width: 10%;">{{item.mprice | number:'0.0-3'}}</td>
        <td style="width: 10%;">{{item.lprice | number:'0.0-3'}}</td>
        <td style="width: 10%;">{{item.eprice | number:'0.0-3'}}</td>
        <td style="width: 10%;">{{item.sprice | number:'0.0-3'}}</td>
        <td style="width: 10%;">{{item.oprice | number:'0.0-3'}}</td>
      </tr>

  </table>
</ion-content>
