.calc-main {
    background-color: #ffffff;
    height: 100%;
  }
  
  .calc-display {
    background-color: #ffffff;
    padding: 30px 15px 20px;
  }
  
  ion-input {
    color: #000000;
    font-size: 48px;
  }
  
  ion-col {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  ion-button {
    height: 50px;
    width: 50px;
    border-radius: 50;
    font-size: 20px;
  }
  
  .double-width {
    width: 86%;
  }