.ex1 {
    height: 100%;
    width: 33.33%;
    overflow-y: scroll;
    display: inline-block;
    border: solid 1px grey;
  }
  ion-content{
      display: table;
  }
p{
    margin: 0px;
}
ion-item{
    font-size: 12px;
    --min-height: 28px;
    --padding-top: 0px;
    --inner-padding-top: 0px;
    --padding-bottom: 0px;
    --inner-padding-bottom: 0px;
  }