<ion-header>
  <ion-toolbar>
    <ion-title>BOQ Items</ion-title>
    <ion-button slot="end" fill="clear" (click)="addnew()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
      <ion-label> Add new </ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content  scrollY=true scrollX=false >

 
  <div class="ex1">
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="term1" placeholder="Filter Category" ></ion-searchbar>
    </ion-toolbar>
    <ion-radio-group (ionChange)="getsubcat()" [(ngModel)]="SelCat">
    <p *ngFor="let item of category | filter:term1" >
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <ion-radio  slot="end" [value]="item.id"></ion-radio>
      </ion-item>
       </p> 
      </ion-radio-group>
  </div>

 <div class="ex1">
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="term2" placeholder="Filter Subcategory" ></ion-searchbar>
    </ion-toolbar>
    <ion-radio-group (ionChange)="getsubsubcat()" [(ngModel)]="SsubCat">
    <p *ngFor="let item of subcat | filter:term2" >
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <ion-radio   slot="end" [value]="item.id" ></ion-radio>
      </ion-item>
       </p> 
      </ion-radio-group>
  </div>

  <div class="ex1">
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="term3" placeholder="Filter Subcategory" ></ion-searchbar>
    </ion-toolbar>
    <ion-radio-group (ionChange)="getboqitems()" *ngIf="subsubcat" [(ngModel)]="SsubsubCat">
    <p *ngFor="let item of subsubcat | filter:term3" >
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <ion-radio  slot="end" [value]="item.id" ></ion-radio>
      </ion-item>
       </p> 
      </ion-radio-group>
  </div>

 
  <div class="ex1">
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="term4" placeholder="Filter Items" ></ion-searchbar>
    </ion-toolbar>
    <ion-radio-group *ngIf="boqitems" >
    <p *ngFor="let item of boqitems | filter:term4" >
      <ion-item>
        <ion-avatar class="item-avatar" style="margin-right: 7px;" *ngIf="item.image" >
          <img [src]="item.image" />
        </ion-avatar> 
        <ion-label>
           <span style="font-weight: bold;" > {{item.name}} </span>
            <span style="font-size: 11px;" *ngIf="item.code" > {{ "("+item.code+")" }} </span>
          <p class="pu">
           Unit: {{item.unit}} <br/>
            Price : {{ item.price }} 
          </p>
        </ion-label>

        <ion-button (click)="edititem(item)"  style="--padding-end: 0px;" fill="clear">
          <ion-icon  slot="icon-only" name="create"></ion-icon>

        </ion-button>
        <ion-button (click)="deleteitem(item)" color="danger" style="--padding-end: 0px;" fill="clear">
          <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
       </p> 
      </ion-radio-group>
  </div>



</ion-content>
