.ex1 {
    height: 100%;
    width: 25%;
    overflow-y: scroll;
    display: inline-block;
    border: solid 1px grey;
  }
  ion-content{
      display: table;
  }
p{
    margin: 0px;
}
ion-avatar{
    --border-radius : 10px;
}

.alertDanger{
    background-color: white;
    color: red;
    button{
        color: red;
    }
}