<ion-header>
  <ion-toolbar>
    <ion-title>Add Equipment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card-header>
    <ion-card-title>Equipments</ion-card-title>
    <ion-label > Total: {{ equipmenttotal }} </ion-label>
  </ion-card-header>

  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-wrap" >Equipment Category</ion-label>
          <ion-select (ionChange)="getEsubcat()" [(ngModel)]="ECatID" placeholder="Select equipment Category">
            <ion-select-option  *ngFor="let item of EcatList" [value]="item.id">{{ item.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
    <ion-item>
      <ion-label>Equipment Subcategory</ion-label>
      <ion-select (ionChange)="getequipments()" [(ngModel)]="ESubcatID" placeholder="Select Subcategory">
        <ion-select-option *ngFor="let item of EsubcatList" [value]="item.id">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Equipments</ion-label>
          <ion-select (ionChange)="pushtoequipment()"  multiple="true"  [(ngModel)]="equipment" placeholder="Select equipment">
            <ion-select-option *ngFor="let item of equipmentList" [value]="item">{{ item.name }}</ion-select-option>
          </ion-select>
          <ion-button (click)="SelectallEquipment()" style="--padding-start : 0px" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/check.svg"></ion-icon>     
          </ion-button>
          <ion-button (click)="RemoveallEquipment()" style="--padding-start : 0px" fill="clear" >
            <ion-icon size="small" slot="icon-only" src="assets/icon/cancel.svg"></ion-icon>     
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="addequipment()" expand="block" fill="clear">
          Add
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-list>


  <ion-list>
    <ion-row>
      <ion-col *ngFor="let mat of Addedequipment" size=6>
        <ion-card>
          <ion-card-header>
            <ion-item>
              <ion-card-title>{{mat.name}}</ion-card-title>
              <ion-button slot="end" fill="clear" (click)="Edelitem(mat)">
                <ion-icon color="danger" name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-header>
          <ion-row>
            <ion-col size="4" style="padding-left: 10px;">
               <ion-text>
                 <ion-label>
                   Unit : {{mat.unit}}
                 </ion-label> <br/>
                 <ion-label>
                  Price : {{mat.price}}
                </ion-label>
                </ion-text>
            </ion-col>
            <ion-col size=8>
              <h6 style="line-height: 24px;margin-top: 2px;margin-bottom: 0px;">Supplier</h6>
              <div style="display: block;line-height: 13px;">
                <div style="padding: 0px;margin: 0px;font-size: 12px;">
                  Name : {{mat.supplier.name}}
                 </div>
                 <div style="padding: 0px;margin: 0px;font-size: 12px;">
                   Email : {{mat.supplier.email}}
                 </div>
                 <div style="padding: 0px;margin: 0px;font-size: 12px;">
                   Phone no: {{mat.supplier.no}}
                 </div>
              </div>
            </ion-col>

            <ion-col>
             <ion-item>
               <ion-label position="floating">Quantity</ion-label>
               <ion-input (ionChange)="calculate()" [(ngModel)]="mat.qty" value=1 type="number"></ion-input>
             </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Percentage</ion-label>
                <ion-input (ionChange)="calculate()" [(ngModel)]="mat.Per" value=100 type="number"></ion-input>
              </ion-item>
             </ion-col>
          </ion-row>

       </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>
