<ion-header color="primary" >
  <ion-toolbar color="primary">
    <ion-title>Add Contractor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list class="ion-text-wrap">
    <ion-list-header style="text-align: center;" lines="full">
      <ion-label>Contractor</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap" position="floating">Contractor Name</ion-label>
      <ion-input [(ngModel)]="name1" placeholder="Enter name here..." ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label type="email" position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email1" placeholder="Enter email here..."></ion-input>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header style="text-align: center;" lines="full">
      <ion-label>Category</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label class="ion-text-wrap" position="floating">Category Name</ion-label>
      <ion-input [(ngModel)]="name2" placeholder="Enter name here..." ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button (click)="addcontract()" expand="block">Add</ion-button>


</ion-content>
