ion-select{
    white-space: normal !important;
}
ion-select-option{
    white-space: normal !important;
}
ion-label , ion-input{
font-size: smaller;
}
ion-item{
    font-size: smaller;;
}
ion-segment-button{
    ion-label{
        font-size: smaller;
    }
}