<ion-header>
  <ion-toolbar>
    <ion-title>finalqtytable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <tbody>
      <tr>
        <td>Fill</td> 
        <td>{{item.fill}}</td> 
      </tr>
          <tr>
            <td> excavation</td>
            <td>{{item.excavation}}</td>
            </tr>  
            <tr>
                <td> floor</td>
                <td>{{item.floor}}</td>
                </tr>  
                <tr>
                    <td> BlockDPC</td>
                    <td>{{item.BlockDPC}}</td>
                    </tr>  
                    <tr>
                        <td> ceiling</td>
                        <td>{{item.ceiling}}</td>
                        </tr>  
                        <tr>
                            <td> wall</td>
                            <td>{{item.wall}}</td>
                            </tr>  
                            <tr>
                                <td> cornice</td>
                                <td>{{item.cornice}}</td>
                                </tr>  
                                <tr>
                                    <td> skirting</td>
                                    <td>{{item.skirting}}</td>
                                    </tr>  
                                    <tr>
                                        <td> block</td>
                                        <td>{{item.block}}</td>
                                        </tr>  
                                        <tr>
                                            <td> blockbitpaint</td>
                                            <td>{{item.blockbitpaint}}</td>
                                            </tr>  
                                            <tr>
                                                <td> concrete</td>
                                                <td>{{item.concrete}}</td>
                                                </tr>  
                                                <tr>
                                                    <td> blinding</td>
                                                    <td>{{item.blinding}}</td>
                                                    </tr>  
                                                    <tr>
                                                        <td> formwork</td>
                                                        <td>{{item.formwork}}</td>
                                                        </tr>  
                                                        <tr>
                                                            <td> bitpaint</td>
                                                            <td>{{item.bitpaint}}</td>
                                                            </tr>  
                                                            <tr>
                                                                <td> expansionjoints</td>
                                                                <td>{{item.expansionjoints}}</td>
                                                                </tr>  
                                                                <tr>
                                                                    <td> precast</td>
                                                                    <td>{{item.precast}}</td>
                                                                    </tr>  
                                                                    <tr>
                                                                        <td> polythene</td>
                                                                        <td>{{item.polythene}}</td>
                                                                        </tr>  
                                                                        <tr>
                                                                            <td> steel</td>
                                                                            <td>{{item.steel}}</td>
                                                                            </tr>  
                                                                            <tr>
                                                                                <td> individualqty</td>
                                                                                <td>{{item.individualqty}}</td>
                                                                                </tr>  
                                                                                <tr>
                                                                                    <td> final qty</td>
                                                                                    <td>{{item.fqty}}</td>
                                                                                  </tr> 

        
    </tbody>
  </table>

</ion-content>
