<ion-content>

  <div class="header backing" data-parallax="scroll" data-image-src="../../../assets/back.jpg">
    <!-- begin:topbar -->
    <div id="topbar" class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
            <div class="nav-utility nav-right">
              <a href="#" class="nav-item"><i class="fa fa-twitter"></i></a>
              <a href="#" class="nav-item"><i class="fa fa-facebook"></i></a>
              <a href="#" class="nav-item"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="nav-item"><i class="fa fa-pinterest"></i></a>
              <a href="#" class="nav-item"><i class="fa fa-envelope-o"></i></a>
            </div><!-- .nav-utility -->
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .topbar -->
    <!-- end:topbar -->
  
    <!-- begin:site-navigation -->
    <div class="site-header-affix-wrapper">
      <header id="masthead" class="site-header" role="banner">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="site-branding">
                <h1 class="site-title title-image"><a href="index-2.html" rel="home">
                  <img style="color: black;max-height: 200px; width: 160px; border-radius: 10px;" src="assets/boqlogo.jpg" alt="BoqMaker" class="img-responsive"></a></h1>
              </div><!-- .site-branding -->
            </div><!-- .col-sm-3 -->
  
            <div class="col-sm-9">
              <nav id="site-navigation" class="main-navigation" role="navigation">
                <button class="menu-toggle" type="button" aria-controls="primary-menu" aria-expanded="false"><span class="pe-7s-menu"></span><span class="sr-only">Primary Menu</span></button>
  
                <div class="menu-testing-menu-container" >
                  <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                    <li class="menu-item current-menu-item"><a style="color: black; cursor: pointer; font-weight: bold;" (click)="gotohome()">Home</a></li>
                    <li class="menu-item menu-item-has-children" aria-haspopup="true"><a style="color: black;font-weight: bold;cursor: pointer;" (click)="gotoproj()" >Projects</a>
                      <ul style="background-color: whitesmoke;" class="sub-menu">
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoproj()">View Projects</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="addProj()"  >Add Projects</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoprojtype()"  >Projects Types</a></li>
                      </ul>
                    </li>
                    <li aria-haspopup="true" class="menu-item menu-item-has-children"><a style="color: black;font-weight: bold;cursor: pointer;">Libraries</a>
                      <ul style="background-color: whitesmoke;" class="sub-menu">
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogbi()">BOQ items libraries</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogbi()">Master BOQ items library</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogbi1()">BOQ items library1</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogbi2()">BOQ items library2</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogbi3()">BOQ items library3</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogbi4()">BOQ items library4</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogbi5()">BOQ items library5</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogal()">Areas libraries</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogal()">Master Areas library</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogal1()">Areas library1</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogal2()">Areas library2</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogal3()">Areas library3</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogal4()">Areas library4</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotogal5()">Areas library5</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotomateriallib()">Materials library</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotolabourib()">Labours library</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoequipmentlib()">Equipments library</a></li>
                      </ul>
                    </li>
                    <li class="menu-item menu-item-has-children" aria-haspopup="true"><a style="color: black;font-weight: bold;" >Data</a>
                      <ul style="background-color: whitesmoke;" class="sub-menu">
                        <li class="menu-item menu-item-has-children" aria-haspopup="true"><a (click)="gotoArea()" style="cursor: pointer; color: black; font-weight: bold;" >
                          Areas
                        </a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoArea()" >Areas Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Areas Subcategories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Add area to Projects</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoitem()">BOQ items</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoopen()">Opening</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoprojection()">Projections</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotocons()">Contractors</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotosupplier()">Suppliers</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotomaterial()">Materials</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotolabour()">Labours</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoequipment()">Equipments</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotosubcontractor()">Subcontractor</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoother()">Others</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotocastdetails()">Cost details</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Client</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Consultant</a></li>
                      </ul>
                    </li>

                    <li class="menu-item"><a style="color: black; cursor: pointer;font-weight: bold;" >Steel reinforcement</a>
                      <ul style="background-color: whitesmoke;" class="sub-menu">
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Isolated foundation</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Strip foundation</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Pile caps</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Pedestal foundation</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Columns under ground</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Walls under ground</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Ground beams</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Tie beams</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Slab thickening</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Water tanks</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Columns above ground</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Walls above ground</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Floor slabs</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Lintels</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Arches</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Projections</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Stairs</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Up stands</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Coping</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Starter bars</a></li>
                      </ul>
                    </li>

                    <li class="menu-item"><a style="color: black; cursor: pointer;font-weight: bold;" >Requirments</a>
                      <ul style="background-color: whitesmoke;" class="sub-menu">
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Materials</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Materials order</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Materials received</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Materials statement</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Labours</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Labours order</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Labours received</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Labours statement</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Equipments</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Equipments order</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Equipments received</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Equipments statement</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>

                    <li class="menu-item"><a style="color: black; cursor: pointer;font-weight: bold;" (click)="gotoReport('boq')">Reports</a>
                      <ul style="background-color: whitesmoke;" class="sub-menu">
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoReport('boq')">Bill of Quantities Report</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" (click)="gotoReport('vr')"  >Variations Report</a></li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Information Reports</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Projects details</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Buildings details</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Areas</a>
                              <ul style="background-color: whitesmoke;" class="sub-menu">
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Areas Categories</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Areas sub Categories</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Areas sub sub Categories</a> </li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Area mater library</a></li>
                                  <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Area library no. 01</a></li>
                                    <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Area library no. 02</a></li>
                                      <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Area library no. 03</a></li>
                                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Area library no. 04</a></li>
                                          <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Area library no. 05</a></li>
                                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Area measurments</a></li>
                                              <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Internal areas measurments finishes </a></li>
                              </ul>
                            </li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Measuring units</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items </a>
                              <ul style="background-color: whitesmoke;" class="sub-menu">
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items Categories</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items sub Categories</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items sub sub Categories</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items master librarya</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items library 01</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items library 02</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items library 03</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items library 04</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items library 05</a></li>
                                <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items library 06</a></li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                        
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Result reports</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Specified priced B.O.Q</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Specified unpriced B.O.Q</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >B.O.Q items details for areas</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Areas details per B.O.Q items</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Priced B.O.q items complete for specified project</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Priced B.O.q items complete for specified building</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Cost details</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per project</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per building</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per areas</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Variations</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Variations details Additional</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Variations details Ommission</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per areas</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Materials details</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per project</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per building</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per areas</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Labours details</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per project</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per building</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per areas</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;">Equipments details</a>
                          <ul style="background-color: whitesmoke;" class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per project</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per building</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per areas</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items sub sub Categories</a></li>
                            <li class="menu-item"><a style="cursor: pointer; color: black; font-weight: bold;" >Per B.O.Q items</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item"><a style="color: black;font-weight: bold;" >Help</a></li>
                    <li class="menu-item"><a style="color: black;font-weight: bold;">Contact us</a></li>
                  </ul>
                </div>
              </nav><!-- #site-navigation -->
            </div><!-- .col-sm-9 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </header><!-- #masthead -->
    </div><!-- .site-header-affix-wrapper -->
    <!-- end:site-navigation -->
  
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="header-caption">
            <span class="caption-subtitle" style="color: black;">boqmaker.com</span>
            <h5 class="caption-title" style="color: black;" >
              Cloud-based construction estimating software for
              preparing bills of quantities
            </h5>
            <!-- <p style="color: black;" >
              Enter complete measurements for different
              types of buildin elements such as foundations,
              columns, internal rooms, elevations, etc. With adding
              openings details and projections details for each area.</p>
              <p style="color: black;" >
                Get final results and differenet types of reports
                such as complete priced bill of quantities, un priced bill of quantities and 
                other different reports.</p>
                <p style="color: black;" >
                  Get Final results and different types
                  of reports such as complete priced
                  bill of quantities , un priced bill of
                  quantities and other different
                  reports.</p> -->
          </div><!-- .header-caption -->
        </div><!-- .col-sm-5 -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- #header -->

    <!-- begin:additional-info -->
    <div id="additional-info" class="additional-info block-section bg-grey padd-20-top padd-40-btm">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <ion-icon name="call" ></ion-icon>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Phone number:</h4>
              <div class="contact-item-info">+973 39421058</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <ion-icon name="mail" ></ion-icon>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Email address:</h4>
              <div class="contact-item-info">info@boqsoftware.com</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <ion-icon name="compass" ></ion-icon>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Office address:</h4>
              <div class="contact-item-info">Manama, Bahrain</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <ion-icon name="home" ></ion-icon>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Company:</h4>
              <div class="contact-item-info">Boqsoftware</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->
        </div><!-- .row -->
      </div><!-- container -->
    </div><!-- #additional-info -->

  

</ion-content>






















<!-- <ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="height: 100%; width: 100%;">
    <ion-row class="ion-justify-content-center ion-align-items-center" >
      <ion-col>
        <ion-card (click)="gotoproj()" style="text-align: center; width: 200px; cursor: pointer;" >
          <ion-card-header style="background: rgb(126, 211, 250);" >
            <ion-card-title>Projects</ion-card-title>
          </ion-card-header>
          <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/construction.svg" ></ion-icon>
        </ion-card>
        
      </ion-col>

    <ion-col>
      <ion-card style="text-align: center; width: 200px;" >
        <ion-card-header style="background: rgb(126, 211, 250);" >
          <ion-card-title>Buildings</ion-card-title>
        </ion-card-header>
        <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/company.svg" ></ion-icon>
      </ion-card>
      
    </ion-col>
    <ion-col>
      <ion-card style="text-align: center; width: 200px;" >
        <ion-card-header style="background: rgb(126, 211, 250);" >
          <ion-card-title>Floors</ion-card-title>
        </ion-card-header>
        <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/floor-plan.svg" ></ion-icon>
      </ion-card>
      
    </ion-col>

      </ion-row>
      
      <ion-row class="ion-justify-content-center ion-align-items-center" >

        <ion-col>
          <ion-card (click)="gotocons()" style="text-align: center; width: 200px; cursor: pointer;" >
            <ion-card-header style="background: rgb(126, 211, 250);" >
              <ion-card-title>Contractor</ion-card-title>
            </ion-card-header>
            <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/worker.svg" ></ion-icon>
          </ion-card>
          
        </ion-col>
  
      <ion-col>
        <ion-card style="text-align: center; width: 200px;" >
          <ion-card-header style="background: rgb(126, 211, 250);" >
            <ion-card-title>Users</ion-card-title>
          </ion-card-header>
          <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  name="person" ></ion-icon>
        </ion-card>
        
      </ion-col>
  
      <ion-col>
        <ion-card style="text-align: center; width: 200px;" >
          <ion-card-header style="background: rgb(126, 211, 250);" >
            <ion-card-title>Help</ion-card-title>
          </ion-card-header>
          <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/help.svg" ></ion-icon>
        </ion-card>
        
      </ion-col>
  
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center" >
          <ion-col>
            <ion-card style="text-align: center; width: 200px;" >
              <ion-card-header style="background: rgb(126, 211, 250);" >
                <ion-card-title>Backup</ion-card-title>
              </ion-card-header>
              <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/seo-and-web.svg" ></ion-icon>
            </ion-card>
            
          </ion-col>
    
        <ion-col>
          <ion-card style="text-align: center; width: 200px;" >
            <ion-card-header style="background: #7ed3fa;" >
              <ion-card-title>Demo Video</ion-card-title>
            </ion-card-header>
            <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/cinema.svg" ></ion-icon>
          </ion-card>
          
        </ion-col>
    
        <ion-col>
          <ion-card style="text-align: center; width: 200px;" >
            <ion-card-header style="background: rgb(126, 211, 250);" >
              <ion-card-title>Items</ion-card-title>
            </ion-card-header>
            <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/chassis.svg" ></ion-icon>
          </ion-card>
          
        </ion-col>

        <ion-col>
          <ion-card style="text-align: center; width: 200px;" >
            <ion-card-header style="background: rgb(126, 211, 250);" >
              <ion-card-title>Template</ion-card-title>
            </ion-card-header>
            <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/renovation.svg" ></ion-icon>
          </ion-card>
        </ion-col>
    
          </ion-row>
  
        
    </ion-grid>


</ion-content> -->
