<ion-content>

  <div class="header backing" data-parallax="scroll" data-image-src="../../../assets/back.jpg">
    <!-- begin:topbar -->
    <div id="topbar" class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 hidden-xs">
            <div class="nav-utility nav-right">
              <a href="#" class="nav-item"><i class="fa fa-twitter"></i></a>
              <a href="#" class="nav-item"><i class="fa fa-facebook"></i></a>
              <a href="#" class="nav-item"><i class="fa fa-linkedin"></i></a>
              <a href="#" class="nav-item"><i class="fa fa-pinterest"></i></a>
              <a href="#" class="nav-item"><i class="fa fa-envelope-o"></i></a>
            </div><!-- .nav-utility -->
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .topbar -->
    <!-- end:topbar -->
  
    <!-- begin:site-navigation -->
    <div class="site-header-affix-wrapper">
      <header id="masthead" class="site-header" role="banner">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="site-branding">
                <h1 class="site-title title-image"><a href="index-2.html" rel="home">
                  <img style="color: black;max-height: 200px; width: 160px;" src="assets/logo.png" alt="BoqMaker" class="img-responsive"></a></h1>
              </div><!-- .site-branding -->
            </div><!-- .col-sm-3 -->
  
            <div class="col-sm-9">
              <nav id="site-navigation" class="main-navigation" role="navigation">
                <button class="menu-toggle" type="button" aria-controls="primary-menu" aria-expanded="false"><span class="pe-7s-menu"></span><span class="sr-only">Primary Menu</span></button>
  
                <div class="menu-testing-menu-container" >
                  <ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
                    <li class="menu-item current-menu-item"><a style="color: black; cursor: pointer;" (click)="gotohome()">Home</a></li>
                    <li class="menu-item menu-item-has-children" aria-haspopup="true"><a style="color: black;" href="#">Projects</a>
                      <ul class="sub-menu">
                        <li class="menu-item current-menu-item"><a  href="service.html">Projects</a></li>
                        <li class="menu-item"><a style="cursor: pointer;" (click)="gotoproj()">View Projects</a></li>
                        <li class="menu-item"><a  href="service-item.html">Add Projects</a></li>
                        <li class="menu-item"><a  href="service-item.html">Projects Type</a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a style="color: black;" href="about.html">Building</a></li>
                    <li class="menu-item menu-item-has-children" aria-haspopup="true"><a style="color: black;" href="#">Data</a>
                      <ul class="sub-menu">
                        <li class="menu-item menu-item-has-children" aria-haspopup="true"><a href="#">Areas</a>
                          <ul class="sub-menu">
                            <li class="menu-item"><a style="cursor: pointer;" (click)="gotoArea()" >Areas Categories</a></li>
                            <li class="menu-item"><a href="progress.html">Areas Subcategories</a></li>
                            <li class="menu-item"><a href="social.html">Add area to Projects</a></li>
                          </ul>
                        </li>
                        <li class="menu-item"><a style="cursor: pointer;" (click)="gotocons()">Contractors</a></li>
                        <li class="menu-item"><a style="cursor: pointer;" (click)="gotosupplier()">Suppliers</a></li>
                        <li class="menu-item"><a href="comingsoon.html">Comingsoon</a></li>
                      </ul>
                    </li>
                    <li class="menu-item"><a style="color: black;" href="project.html">Reports</a></li>
                    <li class="menu-item"><a style="color: black;" href="blog.html">Help</a></li>
                    <li class="menu-item"><a style="color: black;" href="contact.html">Contact us</a></li>
                  </ul>
                </div>
              </nav><!-- #site-navigation -->
            </div><!-- .col-sm-9 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </header><!-- #masthead -->
    </div><!-- .site-header-affix-wrapper -->
    <!-- end:site-navigation -->
  
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="header-caption">
            <span class="caption-subtitle" style="color: black;">Our Service</span>
            <h2 class="caption-title" style="color: black;" >We are your best homes, offices renovations and construction solution.</h2>
            <p style="color: black;" >We provide overall planning, coordination and control of a project, so you don’t have to worry about anything. Our promise as a contractor is to build community value into every project while delivering professional expertise.</p>
          </div><!-- .header-caption -->
        </div><!-- .col-sm-5 -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- #header -->

    <!-- begin:additional-info -->
    <div id="additional-info" class="additional-info block-section bg-grey padd-20-top padd-40-btm">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <ion-icon name="call" ></ion-icon>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Phone number:</h4>
              <div class="contact-item-info">+973 ********</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <ion-icon name="mail" ></ion-icon>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Email address:</h4>
              <div class="contact-item-info">info@boqmaker.com</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <ion-icon name="compass" ></ion-icon>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Office address:</h4>
              <div class="contact-item-info">Coming soon...</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->

          <div class="col-md-3 col-sm-6">
            <div class="contact-item">
              <div class="contact-item-icon">
                <ion-icon name="home" ></ion-icon>
              </div><!-- .contact-item-icon -->
              <h4 class="contact-item-title">Company:</h4>
              <div class="contact-item-info">Al Dhahrani</div>
            </div><!-- .contact-item -->
          </div><!-- .col-# -->
        </div><!-- .row -->
      </div><!-- container -->
    </div><!-- #additional-info -->

  

</ion-content>






















<!-- <ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid style="height: 100%; width: 100%;">
    <ion-row class="ion-justify-content-center ion-align-items-center" >
      <ion-col>
        <ion-card (click)="gotoproj()" style="text-align: center; width: 200px; cursor: pointer;" >
          <ion-card-header style="background: rgb(126, 211, 250);" >
            <ion-card-title>Projects</ion-card-title>
          </ion-card-header>
          <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/construction.svg" ></ion-icon>
        </ion-card>
        
      </ion-col>

    <ion-col>
      <ion-card style="text-align: center; width: 200px;" >
        <ion-card-header style="background: rgb(126, 211, 250);" >
          <ion-card-title>Buildings</ion-card-title>
        </ion-card-header>
        <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/company.svg" ></ion-icon>
      </ion-card>
      
    </ion-col>
    <ion-col>
      <ion-card style="text-align: center; width: 200px;" >
        <ion-card-header style="background: rgb(126, 211, 250);" >
          <ion-card-title>Floors</ion-card-title>
        </ion-card-header>
        <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/floor-plan.svg" ></ion-icon>
      </ion-card>
      
    </ion-col>

      </ion-row>
      
      <ion-row class="ion-justify-content-center ion-align-items-center" >

        <ion-col>
          <ion-card (click)="gotocons()" style="text-align: center; width: 200px; cursor: pointer;" >
            <ion-card-header style="background: rgb(126, 211, 250);" >
              <ion-card-title>Contractor</ion-card-title>
            </ion-card-header>
            <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/worker.svg" ></ion-icon>
          </ion-card>
          
        </ion-col>
  
      <ion-col>
        <ion-card style="text-align: center; width: 200px;" >
          <ion-card-header style="background: rgb(126, 211, 250);" >
            <ion-card-title>Users</ion-card-title>
          </ion-card-header>
          <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  name="person" ></ion-icon>
        </ion-card>
        
      </ion-col>
  
      <ion-col>
        <ion-card style="text-align: center; width: 200px;" >
          <ion-card-header style="background: rgb(126, 211, 250);" >
            <ion-card-title>Help</ion-card-title>
          </ion-card-header>
          <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/help.svg" ></ion-icon>
        </ion-card>
        
      </ion-col>
  
        </ion-row>
        <ion-row class="ion-justify-content-center ion-align-items-center" >
          <ion-col>
            <ion-card style="text-align: center; width: 200px;" >
              <ion-card-header style="background: rgb(126, 211, 250);" >
                <ion-card-title>Backup</ion-card-title>
              </ion-card-header>
              <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/seo-and-web.svg" ></ion-icon>
            </ion-card>
            
          </ion-col>
    
        <ion-col>
          <ion-card style="text-align: center; width: 200px;" >
            <ion-card-header style="background: #7ed3fa;" >
              <ion-card-title>Demo Video</ion-card-title>
            </ion-card-header>
            <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/cinema.svg" ></ion-icon>
          </ion-card>
          
        </ion-col>
    
        <ion-col>
          <ion-card style="text-align: center; width: 200px;" >
            <ion-card-header style="background: rgb(126, 211, 250);" >
              <ion-card-title>Items</ion-card-title>
            </ion-card-header>
            <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/chassis.svg" ></ion-icon>
          </ion-card>
          
        </ion-col>

        <ion-col>
          <ion-card style="text-align: center; width: 200px;" >
            <ion-card-header style="background: rgb(126, 211, 250);" >
              <ion-card-title>Template</ion-card-title>
            </ion-card-header>
            <ion-icon style="font-size: 40px; margin-top: 10px; margin-bottom: 10px;"  src="assets/icon/renovation.svg" ></ion-icon>
          </ion-card>
        </ion-col>
    
          </ion-row>
  
        
    </ion-grid>


</ion-content> -->
