<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Areas</ion-title>
    <ion-button slot="end" (click)="gotoaddarea()" >Add new</ion-button>
  </ion-toolbar>
</ion-header>

  <ion-content  scrollY=true scrollX=false >

 
    <div class="ex1">
      <ion-toolbar>
        <ion-searchbar [(ngModel)]="term1" placeholder="Filter Category" ></ion-searchbar>
      </ion-toolbar>
      <ion-radio-group (ionChange)="getsubcat()" [(ngModel)]="SelCat">
      <p *ngFor="let item of category | filter:term1" >
        <ion-item>
          <ion-button (click)="editcat(item)" slot="start" size="small" style="--padding-end: 0px;margin: 0px;" fill="clear">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="delcat(item)" size="small" slot="start" style="--padding-end: 0px;margin: 0px;" color="danger" fill="clear">
            <ion-icon size="small" color="danger" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-label>{{item.name}}</ion-label>
          <ion-radio  slot="end" [value]="item.id"></ion-radio>
        </ion-item>
         </p> 
        </ion-radio-group>
    </div>

    <div class="ex1">
      <ion-toolbar>
        <ion-searchbar [(ngModel)]="term2" placeholder="Filter Subcategory" ></ion-searchbar>
      </ion-toolbar>
      <ion-radio-group (ionChange)="getsubsubcat()" [(ngModel)]="SsubCat">
      <p *ngFor="let item of subcat | filter:term2" >
        <ion-item>
          <ion-button (click)="editsubcat(item)" slot="start" size="small" style="--padding-end: 0px;margin: 0px;" fill="clear">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="delsubcat(item)" size="small" slot="start" style="--padding-end: 0px;margin: 0px;" color="danger" fill="clear">
            <ion-icon size="small" color="danger" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-label>{{item.name}}</ion-label>
          <ion-radio   slot="end" [value]="item.id" ></ion-radio>
        </ion-item>
         </p> 
        </ion-radio-group>
    </div>
  
    <div class="ex1">
      <ion-toolbar>
        <ion-searchbar [(ngModel)]="term3" placeholder="Filter Subcategory" ></ion-searchbar>
      </ion-toolbar>
      <ion-radio-group (ionChange)="getareas()" [(ngModel)]="SsubsubCat">
      <p *ngFor="let item of subsubcat | filter:term3" >
        <ion-item>
          <ion-button (click)="editsubsubcat(item)" slot="start" size="small" style="--padding-end: 0px;margin: 0px;" fill="clear">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button (click)="delsubsubcat(item)" size="small" slot="start" style="--padding-end: 0px;margin: 0px;" color="danger" fill="clear">
            <ion-icon size="small" color="danger" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-label>{{item.name}}</ion-label>
          <ion-radio  slot="end" [value]="item.id" ></ion-radio>
        </ion-item>
         </p> 
        </ion-radio-group>
    </div>


        <div class="ex1">
          <ion-toolbar>
            <ion-searchbar [(ngModel)]="term4" placeholder="Filter Areas" ></ion-searchbar>
          </ion-toolbar>
          <ion-radio-group *ngIf="areas" >
          <p *ngFor="let item of areas | filter:term4" >
            <ion-item>
              <ion-avatar class="item-avatar" style="margin-right: 7px;" *ngIf="item.image" >
                <img [src]="item.image" />
              </ion-avatar> 
              <ion-label>{{item.name}}</ion-label>
              <ion-button (click)="editarea(item)" slot="end" size="small" style="--padding-end: 0px;margin: 0px;" fill="clear">
                <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
              </ion-button>
              <ion-button (click)="delarea(item)" size="small" slot="end" style="--padding-end: 0px;margin: 0px;" color="danger" fill="clear">
                <ion-icon size="small" color="danger" slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-item>
             </p> 
            </ion-radio-group>
        </div>
     

 
  </ion-content>
