<ion-header  >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Projects</ion-title>
    <ion-button slot="end" fill="clear" (click)="addProj()">
      <ion-icon  name="add"></ion-icon>
      <ion-label> Add new </ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-padding">
  </ion-row>
  <!-- Searchbar with a cancel button and custom cancel button text -->
<ion-searchbar [(ngModel)]="term" showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
<table>
  <thead style="background: azure;" >
    <tr>
      <th>Action</th>
      <th>Code</th>
      <th>Name</th>
      <th>Type</th>
      <th>Number</th>
      <th>Starting date</th>
      <th>Ending date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of projectsList | filter:term" >
      <td>

          <ion-button style="--padding-end: 0px;" (click)="gotoproj(item)" fill="clear">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <ion-button style="--padding-end: 0px;" (click)="Delproj(item)" color="danger" fill="clear">
            <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
          </ion-button>
          <ion-button style="--padding-end: 0px;" (click)="sendmail(item)" color="danger" fill="clear">
            <ion-icon color="dark" slot="icon-only" name="mail"></ion-icon>
          </ion-button>
   

        </td>
      <td>{{ item.code }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.no }}</td>
      <td>{{ item.start | date }}</td>
      <td>{{ item.end | date }}</td>
    </tr>
</table>


</ion-content>
