ul {list-style-type: none ; cursor: pointer;}

.b{
    padding-left: 0px;
}
ion-select{
    white-space: normal !important;
}
ion-select-option{
    white-space: normal !important;
}
ion-label , ion-input{
font-size: small;
}
ion-item{
    font-size: small;
}
ion-list{
    padding: 0px;
}