<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="close()" color="secondary">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Material report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h3 style="text-align: center;" >Sorted by Suppliers</h3>
  <table *ngFor="let item of sortSupplier">
    <tbody>
        <tr>
          <th *ngIf="item.additionalsupplier" style="background-color: rgb(218, 177, 74);text-align: center;" colspan="3" >
            Main Supplier<br/>
           name: {{item.sname}}&nbsp;
                     no: {{item.sno}}&nbsp;
             <a *ngIf="item.website" href="{{item.website}}" target="_blank">Website</a>

                       <ion-button class="sendmail" color="secondary" fill="clear" size="small" (click)="sendmail(item)">
                         <ion-label>Send mail</ion-label>
                         <ion-icon (click)="sendmail(item)" slot="start" name="mail"></ion-icon>
                       </ion-button>
          </th>
          <th *ngIf="!item.additionalsupplier" style="background-color: rgb(218, 177, 74);text-align: center;" colspan="6" >
            Main Supplier<br/>
           name: {{item.sname}}&nbsp;
                     no: {{item.sno}}&nbsp;
            <a *ngIf="item.website" href="{{item.website}}" target="_blank">Website</a>
                       <ion-button class="sendmail" color="secondary" fill="clear" size="small" (click)="sendmail(item)">
                         <ion-label>Send mail</ion-label>
                         <ion-icon (click)="sendmail(item)" slot="start" name="mail"></ion-icon>
                       </ion-button>
          </th>
          <th *ngIf="item.additionalsupplier" style="background-color: rgb(164, 222, 240);text-align: center;" colspan="3">
            Additional Suppliers<br/>
            <span style="height: 18px;" *ngFor="let supp of item.additionalsupplier">
              name: {{supp.name}} &nbsp;
              <a *ngIf="item.website" href="{{item.website}}" target="_blank">Website</a>
                <ion-button class="sendmail" color="secondary" fill="clear" size="small" (click)="sendmail(item)">
                  <ion-label>Send mail</ion-label>
                  <ion-icon (click)="sendmail(item)" slot="start" name="mail"></ion-icon>
                </ion-button><br/>
            </span>
          </th>
        </tr>
        <tr>
          <th style="text-align: center;" colspan="6">Materials</th>
        </tr>
        <tr>
          <th style="width: 16.6%;">Name</th>
          <th style="width: 16.6%;">Quantity</th>
          <th style="width: 16.6%;">Unit</th>
          <th>Rate</th>
          <th>Total</th>
          <th>Buy online</th>
        </tr>
        <tr *ngFor="let mat of item.materials">
          <td>{{mat.name}}</td>
          <td>{{mat.qty | number:'0.0-3'}}</td>
          <td>{{mat.unit}}</td>
          <td>{{mat.price}}</td>
          <td>{{mat.qty*mat.price | number:'0.0-3'}}</td>
          <td>  <ion-label *ngIf="!mat.website">No link</ion-label>
            <a *ngIf="mat.website" href="{{mat.website}}" target="_blank">Link</a></td>
        </tr>
    </tbody>
  </table>

</ion-content>
